<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="openMenu()">
        <ion-img src="assets/icon/Icone-Mais.png" class="imgMenu"></ion-img>
      </ion-button>
      <a (click)="produtosParaHome()">
        <ion-img src="assets/LogoBranca.png" class="logoSway"></ion-img>
      </a>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button fill="clear" class="botaoCompras">
        <div class="carrinho">
          <ion-img
            src="assets/icon/Icone-Carrinho.png"
            class="imgSacola"
          ></ion-img>
          <div class="badge">0</div>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fundo-pagina">
  <ion-img src="assets/background-Navbar.png" class="imgFundo"></ion-img>
  <!-- Slogan -->
  <div class="conteudoSlogan">
    <ion-img src="assets/slogan.png" class="imgSlogan"></ion-img>
  </div>

  <div class="ordenacao-container">
    <div class="ordemAlfabetica">
      <ion-checkbox
        [(ngModel)]="ordenarPorNome"
        (ionChange)="ordenarProdutos()"
      >
      </ion-checkbox>
      <ion-label>Ordem Alfabética</ion-label>
    </div>

    <ion-button class="botaoOrdem" (click)="abrirModalOrdenacao()">
      Ordenar por Preço
    </ion-button>
  </div>

  <ion-grid class="custom-grid">
    <ion-row class="custom-row">
      <ion-col size="6" size-md="4" *ngFor="let produto of produtos">
        <ion-card class="product-card">
          <ion-img
            [src]="produto.imagemAtual"
            class="fade-img"
            (click)="trocarImagem($event, produto)"
          ></ion-img>

          <ion-card-content>
            <div class="rating">
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half"></ion-icon>
              <span class="classification">{{produto.classificacao}}</span>
            </div>

            <h2 class="product-title">{{ produto.nome }}</h2>
            <p class="price">R$ {{ produto.preco }}</p>

            <ion-button expand="block" class="buy-button">Comprar</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
