<div class="background-wrapper">
  <!-- Imagem de fundo -->
  <img
    src="../../assets/Fundo-Page-Login.png"
    alt="fundo estilizado"
    class="background-img"
  />

  <!-- Logo acima do card -->
  <img src="../../assets/Logo1.png" alt="Logo SWAY" class="logo-sway" />

  <!-- Card de login -->
  <div class="card">
    <!-- Botão de voltar -->
    <div class="cad-cabecalho">
      <button class="back-btn" [routerLink]="['/home']">
        <img src="../../assets/Seta.png" alt="" />
      </button>
      <h2 class="text">Acesse sua Conta</h2>
    </div>

    <<<<<<< HEAD
    <!-- E-mail -->
    <ion-input
      type="email"
      fill="solid"
      label="Email"
      labelPlacement="floating"
      helperText="Digite um E-mail Valido"
      errorText="E-mail Inválido"
      ngModel
      email
    ></ion-input>

    <!-- Senha -->
    <ion-input
      type="password"
      fill="solid"
      label="Senha"
      labelPlacement="floating"
      helperText="Crie uma senha (mínimo 6 caracteres)"
      errorText="Senha Inválida"
      name="senha"
      required
      maxlength="12"
      ngModel
      senha
    ></ion-input>
    =======
    <!-- E-mail -->
    <ion-input
      type="email"
      fill="solid"
      label="Email"
      labelPlacement="floating"
      helperText="Digite um E-mail Valido"
      errorText="E-mail Inválido"
      ngModel
      email
    ></ion-input>

    <!-- Senha -->
    <ion-input
      type="password"
      fill="solid"
      label="Senha"
      labelPlacement="floating"
      helperText="Crie uma senha (mínimo 6 caracteres)"
      errorText="Senha Inválida"
      name="senha"
      required
      maxlength="12"
      ngModel
      senha
    ></ion-input>
    >>>>>>> 1321936db0c6d0272fb104f3e1be8bb633648fa4

    <button class="entrar-btn">Entrar</button>

    <p class="link">
      Esqueceu sua Senha ?<br />
      <a href="#">Clique Aqui</a>
    </p>

    <p class="link">
      Ainda não possui uma conta ?<br />
      <a href="#" [routerLink]="['/register']">Cadastre-se</a>
    </p>
  </div>
</div>
