<div class="background-wrapper">
  <!-- Imagem de fundo -->
  <img
    src="../../assets/Fundo-Page-Login.png"
    alt="fundo estilizado"
    class="background-img"
  />

  <!-- Logo acima do card -->
  <img src="../../assets/Logo1.png" alt="Logo SWAY" class="logo-sway" />

  <!-- Card de login -->
  <div class="card">
    <!-- Botão de voltar -->
    <div class="cad-cabecalho">
      <button class="back-btn" (click)="loginParaHome()">
        <img src="../../assets/Seta.png" alt="" />
      </button>
      <h2 class="text">Acesse sua Conta</h2>
    </div>

    <!-- E-mail -->
    <ion-input
      type="email"
      fill="solid"
      label="Email"
      labelPlacement="floating"
      helperText="Digite um E-mail Válido"
      errorText="E-mail Inválido"
      [(ngModel)]="email"
      name="email"
      required
    ></ion-input>

    <!-- Senha -->
    <ion-input
      type="password"
      fill="solid"
      label="Senha"
      labelPlacement="floating"
      helperText="Sua senha"
      errorText="Senha Inválida"
      [(ngModel)]="senha"
      name="senha"
      required
    ></ion-input>

    <button class="entrar-btn" (click)="login()">Entrar</button>

    <p class="link">
      Esqueceu sua Senha ?<br />
      <a href="#">Clique Aqui</a>
    </p>

    <p class="link">
      Ainda não possui uma conta ?<br />
      <a href="#" [routerLink]="['/register']">Cadastre-se.</a>
    </p>
  </div>
</div>
