<div class="background-wrapper">
  <!-- Imagem de fundo -->
  <img
    src="../../assets/Fundo-Page-Login.png"
    alt="fundo estilizado"
    class="background-img"
  />

  <!-- Logo acima do card -->
  <img src="../../assets/Logo1.png" alt="Logo SWAY" class="logo-sway" />

  <!-- Card de login -->
  <div class="card">
    <!-- Botão de voltar -->
    <div class="cad-cabecalho">
      <button class="back-btn">
        <img src="../../assets/Seta.png" alt="" />
      </button>
      <h2 class="text">Acesse sua Conta</h2>
    </div>

    <label for="email">E-mail:</label>
    <input type="email" id="email" placeholder="Digite seu E-mail:" />

    <label for="senha">Senha:</label>
    <input type="password" id="senha" placeholder="Digite sua Senha:" />

    <button class="entrar-btn">Entrar</button>

    <p class="link">
      Esqueceu sua Senha ?<br />
      <a href="#">Clique Aqui</a>
    </p>

    <p class="link">
      Ainda não possui uma conta ?<br />
      <a href="#">Cadastre-se</a>
    </p>
  </div>
</div>
