@font-face {
  font-family: Inria;
  src: url(../assets/fonts/InriaSans-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Inria;
  src: url(../assets/fonts/InriaSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Inria;
  src: url(../assets/fonts/InriaSans-Bold.ttf);
  font-weight: 700;
}
