.full-screen-menu {
  background: var(--menu-background);
  transition: filter 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.logout-btn {
  --background: var(--auth-button-bg);
  transition: filter 0.3s ease;
  margin-top: -15px;
  color: var(--buy-button-text);
  margin-bottom: 10px;
  --border-radius: 25px;
}

.container-text {
  width: 100%;
}

.text-categoria {
  background: var(--menu-category-background);
  transition: filter 0.3s ease;
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 18px;
  font-weight: 100;
  color: var(--menu-text-color);
  transition: filter 0.3s ease;
}

.menu-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.footer-menu {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-top: 50px;
  height: 120px;
  background: var(--menu-footer-background);
  transition: filter 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lema {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 5px;
  color: var(--menu-text-color);
  transition: filter 0.3s ease;
}

.logo-menu {
  display: flex;
  width: 120px;
  margin-bottom: 25px;
  filter: invert(100%);
}

.close-btn {
  color: var(--close-btn-color);
  transition: filter 0.3s ease;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 10;
  font-size: 25px;
}

.menu-list {
  width: 100%;
  flex-grow: 1;
  max-height: calc(100vh - 220px);
  overflow-y: auto;
  max-height: 400px;
  box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.75);
  padding: 0;

  &::-webkit-scrollbar {
    display: none;
  }

  ion-item {
    font-size: 20px;
    font-weight: 600;
    color: var(--menu-text-color);
    --background: transparent;
    --padding-start: 12px;
    --inner-padding-end: 8px;
    height: 42px;
    border-bottom: 1px solid var(--menu-border-color);
    transition: filter 0.3s ease;

    ion-icon {
      font-size: 20px;
    }
  }
}

.submenu {
  ion-item {
    font-size: 18px;
    font-weight: 300;
    height: 36px;
    --padding-start: 28px;
    --background: transparent;
    border-bottom: 1px solid var(--submenu-border-color);
    color: var(--menu-text-color);
    transition: filter 0.3s ease;

    &:hover {
      background-color: var(--submenu-hover-bg);
      transition: filter 0.3s ease;
    }
  }
}

.auth-actions {
  position: absolute;
  bottom: 100px;
  left: 16px;
  text-align: left;

  .btn-entrar {
    background-color: var(--auth-button-bg);
    color: var(--auth-button-text);
    transition: filter 0.3s ease;
    border-radius: 25px;
    font-weight: 300;
    width: 100px;
    height: 35px;
    margin-bottom: 12px;
    font-size: 18px;
  }

  .btn-entrar:active {
    transform: scale(0.95);
  }

  .register-link {
    font-size: 20px;
    color: var(--auth-link-color);
    transition: filter 0.3s ease;

    a {
      color: var(--auth-link-color);
      text-decoration: underline;
      transition: filter 0.3s ease;
    }
  }
}

.profile-container {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-left: 16px;
  margin-top: 50px;
}

.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--profile-border-color);
  transition: filter 0.3s ease;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 12px;
  font-size: 18px;
  flex-wrap: wrap;
  color: var(--menu-text-color);
  transition: filter 0.3s ease;
}

.ancora {
  text-decoration: underline;
  text-decoration-color: var(--anchor-underline-color);
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 4px;
  color: var(--anchor-color);
  transition: filter 0.3s ease;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.subtext {
  font-size: 14px;
  color: var(--menu-subtext-color);
  transition: filter 0.3s ease;
  font-weight: 300;
  margin-top: 5px;
}

.emailclass {
  font-size: 13px;
  color: var(--menu-subtext-color);
  transition: filter 0.3s ease;
}

ion-icon {
  color: var(--icon-color);
  transition: filter 0.3s ease;
}

.toggleDarkMode {
  --background: transparent;
  --color: var(--toggle-label-color);
  border-bottom: 1px solid var(--toggle-border-color);
  transition: filter 0.3s ease;

  ion-icon {
    color: var(--toggle-label-color);
  }

  ion-label {
    color: var(--toggle-label-color);
  }

  ion-toggle {
    --handle-background: var(--toggle-handle-bg);
    --track-background: var(--toggle-track-bg);
    transition: filter 0.3s ease;
  }
}
.logo-menu {
  filter: invert(100%);
  transition: filter 0.3s ease;
}

:host-context(body.dark) .logo-menu {
  filter: invert(0%);
}
