.full-screen-menu {
  background: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.container-text {
  width: 100%;
}

.text-categoria {
  background: #c5c5c5;
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 18px;
  font-weight: 100;
}

.menu-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.footer-menu {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-top: 50px;
  height: 120px;
  background: #c5c5c5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lema {
  text-transform: uppercase;
  font-size: 20px;
}

.logo-menu {
  display: flex;
  width: 120px;
  margin-bottom: 16px;
  filter: invert(100%);
}

.close-btn {
  color: #000;
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 10;
  font-size: 25px;
}

.menu-list {
  width: 100%;
  flex-grow: 1;
  max-height: calc(100vh - 220px);
  overflow-y: auto;
  max-height: 400px;
  box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.75);
  padding: 0;

  &::-webkit-scrollbar {
    display: none;
  }

  ion-item {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    --background: transparent;
    --padding-start: 12px;
    --inner-padding-end: 8px;
    height: 42px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);

    ion-icon {
      font-size: 20px;
    }
  }
}

.submenu {
  ion-item {
    font-size: 18px;
    font-weight: 300;
    height: 36px;
    --padding-start: 28px;
    --background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

.auth-actions {
  position: absolute;
  bottom: 100px;
  left: 16px;
  text-align: left;

  .btn-entrar {
    background-color: #000000;
    color: #ffffff;
    border-radius: 25px;
    font-weight: 300;
    width: 100px;
    height: 35px;
    margin-bottom: 12px;
    font-size: 18px;
  }

  .btn-entrar:active {
    transform: scale(0.95);
  }

  .register-link {
    font-size: 20px;
    color: #000;

    a {
      color: #000;
      text-decoration: underline;
    }
  }
}

.profile-container {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-left: 16px;
  margin-top: 50px;
}

.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #000;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 12px;
  font-size: 18px;
  flex-wrap: wrap;
}

.ancora {
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 0.1rem;
  text-underline-offset: 4px;
  color: #000000;
}

.subtext {
  font-size: 14px;
  color: #414141;
  font-weight: 300;
}
