.imgMenu {
  height: 20px;
  width: 25px;
}

.logoSway {
  height: 18px;
  margin-left: 10px;
}

.botaoCompras {
  position: relative;
  right: 8px;
}

.imgSacola {
  height: 20px;
  width: 20px;
}

/* Badge do contador */
.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.imgFundo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

.conteudoSlogan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.imgSlogan {
  max-width: 90%;
  height: auto;
}

ion-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sc-ion-searchbar-ios-h {
  margin-top: 120px;
}

swiper-container {
  margin-top: 20px;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;

  img {
    width: 181px;
    height: 272px;
    border-radius: 15px;
  }
}

.botaoNovidades {
  margin-top: 20px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 16px;
  margin-left: 75px;
  margin-right: 75px;
}

.slideContentImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;

  .slideImg {
    width: 110px;
    height: 60px;
  }
}

.botaoInteracao {
  height: 30px;
  width: 30px;
}

.botoesMarca {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
