<header>
  <div class="separador"></div>
  <div class="navbar">
    <div class="ladoEsquerdo">
      <button class="botaoMenu">
        <img src="../../assets/icon/Icone-Mais.png" class="imgMenu" />
      </button>
      <img src="../../assets/LogoBranca.png" class="logoSway" />
    </div>

    <div class="ladoDireito">
      <button class="botaoCompras">
        <div class="carrinho">
          <img src="../../assets/icon/Icone-Carrinho.png" class="imgSacola" />
          <div class="badge">0</div>
        </div>
      </button>
    </div>
  </div>

  <div class="fundoNavbar">
    <img
      class="imgFundo"
      src="../../assets/background-Navbar.png"
      class="imgFundo"
    />

    <div class="conteudoSlogan">
      <img class="imgSlogan" src="../../assets/slogan.png" class="imgSlogan" />
    </div>
  </div>
</header>
