<div class="background-wrapper">
  <!-- Imagem de fundo -->
  <img
    src="../../assets/Fundo-Page-Login.png"
    alt="fundo estilizado"
    class="background-img"
  />

  <!-- Logo acima do card -->
  <img src="../../assets/Logo1.png" alt="Logo SWAY" class="logo-sway" />

  <!-- Card de login -->
  <div class="card">
    <!-- Botão de voltar -->
    <div class="cad-cabecalho">
      <button class="back-btn" [routerLink]="['/home']">
        <img src="../../assets/Seta.png" alt="" />
      </button>
      <h2 class="text">Crie sua Conta</h2>
    </div>
    <!-- Nome -->
    <ion-input
      type="text"
      fill="solid"
      label="Nome"
      labelPlacement="floating"
      helperText="Digite seu nome completo"
      errorText="Nome é Obrigatório"
      name="nome"
      ngModel
      name
      minlength="15"
      maxLength="60"
      required
    ></ion-input>

    <!-- Data de Nascimento -->
    <ion-input
      type="date"
      fill="solid"
      label="Data de Nascimento"
      labelPlacement="floating"
      helperText="Selecione sua data de nascimento"
      errorText="Data Inválida"
      name="dataNascimento"
      ngModel
      date
      required
    ></ion-input>

    <!-- CPF -->
    <ion-input
      type="text"
      fill="solid"
      label="CPF"
      labelPlacement="floating"
      helperText="Digite seu CPF (somente números)"
      errorText="CPF Inválido"
      name="cpf"
      ngModel
      cpf
      required
    ></ion-input>

    <!-- E-mail -->
    <ion-input
      type="email"
      fill="solid"
      label="Email"
      labelPlacement="floating"
      helperText="Enter a valid email"
      errorText="E-mail Inválido"
      ngModel
      email
    ></ion-input>

    <!-- Senha -->
    <ion-input
      type="password"
      fill="solid"
      label="Senha"
      labelPlacement="floating"
      helperText="Crie uma senha (mínimo 6 caracteres)"
      errorText="Senha Inválida"
      name="senha"
      required
      maxlength="12"
      ngModel
      senha
    ></ion-input>

    <!-- Confirmar Senha -->
    <ion-input
      type="password"
      fill="solid"
      label="Confirmar Senha"
      labelPlacement="floating"
      helperText="Repita a senha"
      errorText="As Senhas Não Coincidem"
      name="confirmarSenha"
      required
      maxlength="12"
      ngModel
      confirmarSenha
    ></ion-input>

    <button class="entrar-btn">Criar Conta.</button>
  </div>
</div>
