/* Estrutura geral da tela */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.background-wrapper {
  background-color: #fff;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  padding-bottom: 100px;
}

.background-img {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vh;
  height: 80vh;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}

.logo-sway {
  width: 120px;
  margin-top: 50px;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}

.text {
  font-size: 24px;
  display: flex;
  position: relative;
  top: -8px;
  right: -85px;
  margin-top: -5px;
  color: #000000;
}

.card {
  background: #ddd9d9cc;
  border-radius: 25px;
  padding: 30px 20px;
  width: 90%;
  max-width: 360px;
  backdrop-filter: blur(5px);
  text-align: center;
  position: relative;
  z-index: 3;
  margin-bottom: 40px;
}

.back-btn {
  position: absolute;
  top: 20px;
  left: 15px;
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
}

label {
  display: flex;
  padding-left: 30px;
  padding-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  color: #000000;
}

.campo {
  width: 85%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #b2b2b2;
  font-size: 14px;
  outline: none;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 2px 2px 5px #000000;
}

.entrar-btn {
  font-size: 16px;
  width: 50%;
  margin-top: 25px;
  padding: 10px;
  border-radius: 15px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.entrar-btn:hover {
  background-color: #333;
}

.link {
  padding-top: 15px;
  font-size: 16px;
  color: #333;
}

.link a {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.containerCampo {
  display: flex;
}

.inputCep,
.inputNumeroCasa {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.campoCep {
  width: 75%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #b2b2b2;
  font-size: 14px;
  outline: none;
  background-color: #ffffff;
  color: #000000;
  margin-left: 25px;
  box-shadow: 2px 2px 5px #000000;
}

.campoCasa {
  width: 85%;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #b2b2b2;
  font-size: 14px;
  outline: none;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 2px 2px 5px #000000;
}

.labelCasa {
  position: relative;
  right: 22px;
}

ion-input {
  --box-shadow: none;
  --background: transparent !important;
}
